In [3]:
import multiprocessing as mp
import pandas as pd
#from dateutil.relativedelta import relativedelta
# from pandas.tseries.offsets import DateOffset
# from pandas.tseries.offsets import MonthOffset

# finnacial data
# from nsepy import get_history
# from nsepy.derivatives import get_expiry_date
#import mibian

# import iv calculation script for parallel processing
import iv_calc

In [2]:
df1 = pd.read_csv('../data_output/df1.csv')
print(df1.info())
df1.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31001 entries, 0 to 31000
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          31001 non-null  object
 1   Option Type   31001 non-null  object
 2   Strike Price  31001 non-null  float64
 3   close         31001 non-null  float64
 4   Underlying    31001 non-null  float64
 5   expiry        31001 non-null  object
 6   futures       31001 non-null  float64
 7   days2expiry   31001 non-null  int64
 8   atm_strike    31001 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 2.1+ MB
None

,Date,Option Type,Strike Price,close,Underlying,expiry,futures,days2expiry,atm_strike
0,2006-04-07,PE,3600.0,143.6,3454.80,2006-06-29,3454.80,83,3500
1,2006-04-10,PE,3600.0,143.6,3478.45,2006-06-29,3478.45,80,3500
2,2006-04-12,PE,3600.0,143.6,3380.00,2006-06-29,3380.00,78,3500

In [26]:
# get cpu count for parallelization
num_proc = mp.cpu_count()
print('Number of processors: ', num_proc)

Number of processors:  4

In [27]:
def parallelize_df(df, func, n_cores = num_proc):
    df_split = np.array_split(df, n_cores)
    pool = mp.Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [ ]:
start = time.perf_counter()
option2 = parallelize_df(df1, iv_calc.iv_function)
end = time.perf_counter()
end-start

In [ ]:
df1.to_csv('option_iv_calc.csv', index = False)